# Playwright
node_modules/
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/
resources/pets-demo/test-results/

*.zip
notes.txt
logs/
PetsDemo.postman_collection.json
