# Playwright
node_modules/
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/
resources/pets-demo/test-results/

logs/
*.zip
notes.txt
PetsDemo.postman_collection.json
pets.json
.DS_Store
